Repository gitchrisqueen/cpcc_task_automation: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

Add integration + e2e tests with coverage flags and CI workflow (#45)
  .github/workflows/integration-e2e-coverage.yml
  codecov.yml
  coverage-e2e.xml
  coverage-integration.xml
  docs/testing.md
  tests/integration/conftest.py
  tests/integration/test_error_definitions_integration.py
  tests/integration/test_rubric_grading_integration.py
  tests/integration/test_rubric_integration.py
Due: none

Standardize CI workflow names for clean PR check labels (#46)
  .github/workflows/e2e-coverage.yml
  .github/workflows/integration-coverage.yml
  docs/ci-branch-protection.md
  docs/testing.md
Due: none

[WIP] Update settings for automatic workflow runs (#47)
  .github/workflows/e2e-coverage.yml
  .github/workflows/integration-coverage.yml
  .github/workflows/unit-tests.yml
Due: none

Update the pyproject configs
  poetry.lock
  pyproject.toml
Due: none

Add CodeQL analysis workflow
  .github/workflows/codeql.yml
Due: none

Add CodeQL analysis workflow (#50)
  .github/workflows/codeql.yml
Due: none

Optimize unit test suite performance: 58s → 8s (7x faster) (#49)
  .github/workflows/integration-coverage.yml
  .github/workflows/unit-tests.yml
  docs/unit_test_performance_summary.md
  poetry.lock
  pyproject.toml
  scripts/run_tests.sh
  tests/unit/test_openai_client.py
  tests/unit/test_selenium_util.py
Due: none

Fix OpenAI Structured Outputs schema validation by adding additionalProperties: false (#48)
  PR_FINAL_SUMMARY.txt
  docs/pr-summaries/SCHEMA_NORMALIZATION_PR_SUMMARY.md
  scripts/verify_schema_fix.py
  src/cqc_cpcc/utilities/AI/openai_client.py
  src/cqc_cpcc/utilities/AI/schema_normalizer.py
  tests/unit/test_openai_schema_integration.py
  tests/unit/test_schema_normalizer.py
Due: unit, integration, e2e

added file via browser
  docs/openai-structured-outputs-guide.md
Due: none

Add OpenAI Structured Outputs enforcement to Copilot instructions (#52)
  .github/copilot-instructions.md
  .github/instructions/ai-llm.instructions.md
  .github/instructions/openai.instructions.md
Due: none

Fix OpenAI structured outputs schema validation: ensure required arrays include all properties (#51)
  docs/pr-summaries/REQUIRED_ARRAY_FIX_PR_SUMMARY.md
  src/cqc_cpcc/utilities/AI/schema_normalizer.py
  tests/unit/test_schema_normalizer.py
Due: unit, integration, e2e

Add OpenAI debug mode with correlation IDs and request/response capture (#53)
  IMPLEMENTATION_SUMMARY.md
  docs/openai-debug-mode.md
  scripts/test_openai_debug.py
  src/cqc_cpcc/utilities/AI/openai_client.py
  src/cqc_cpcc/utilities/AI/openai_debug.py
  src/cqc_cpcc/utilities/AI/openai_exceptions.py
  src/cqc_cpcc/utilities/env_constants.py
  src/cqc_cpcc/utilities/logger.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  src/cqc_streamlit_app/utils.py
  tests/unit/test_openai_client_debug.py
  tests/unit/test_openai_debug.py
Due: unit, integration, e2e

Implement ZIP batch grading with async concurrency and token safety for Rubric Exam tab (#54)
  IMPLEMENTATION_SUMMARY_ZIP_BATCH_GRADING.md
  docs/zip-batch-grading-guide.md
  src/cqc_cpcc/utilities/zip_grading_utils.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  tests/integration/test_rubric_zip_batch_grading.py
  tests/unit/test_brightspace_zip_format.py
  tests/unit/test_zip_grading_utils.py
  tests/unit/test_zip_wrapper_folders.py
Due: unit, integration, e2e

Implement CSC151 v2.0 rubric with 4:1 minor-to-major error conversion (#55)
  CSC151_V2_IMPLEMENTATION.md
  src/cqc_cpcc/error_scoring.py
  src/cqc_cpcc/rubric_config.py
  src/cqc_cpcc/rubric_grading.py
  src/cqc_cpcc/rubric_models.py
  tests/unit/test_csc151_v2_integration.py
  tests/unit/test_error_scoring.py
  tests/unit/test_rubric_config.py
Due: unit, integration, e2e

Make batch grading resilient: isolate failures + retry empty OpenAI responses (#56)
  src/cqc_cpcc/utilities/AI/openai_client.py
  src/cqc_cpcc/utilities/AI/openai_exceptions.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  tests/unit/test_openai_client.py
  tests/unit/test_openai_client_empty_response_retry.py
Due: unit, integration, e2e

Add General Rubric Scoring Engine with level-band and error-count modes (#57)
  SCORING_ENGINE_SUMMARY.md
  docs/rubrics.md
  src/cqc_cpcc/rubric_config.py
  src/cqc_cpcc/rubric_grading.py
  src/cqc_cpcc/rubric_models.py
  src/cqc_cpcc/scoring/__init__.py
  src/cqc_cpcc/scoring/rubric_scoring_engine.py
  tests/unit/test_ai_reflection_rubric.py
  tests/unit/test_csc151_scoring_fix.py
  tests/unit/test_scoring_engine.py
Due: unit, integration, e2e

Add per-student feedback blocks with Expand All functionality (#58)
  docs/per_student_feedback_feature.md
  docs/regression_check_pr_student_feedback.md
  src/cqc_cpcc/student_feedback_builder.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  tests/unit/test_student_feedback_builder.py
Due: unit, integration, e2e

Replace 4-attempt retry with single-layer smart retry and preprocessing for large inputs (#59)
  src/cqc_cpcc/utilities/AI/exam_grading_openai.py
  src/cqc_cpcc/utilities/AI/openai_client.py
  src/cqc_cpcc/utilities/AI/openai_debug.py
  src/cqc_cpcc/utilities/zip_grading_utils.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  tests/unit/test_openai_client_smart_retry.py
Due: unit, integration, e2e

Add CPCC-branded Word document export with ZIP batch download for student feedback (#60)
  docs/student-feedback-word-export.md
  src/cqc_cpcc/feedback_doc_generator.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  tests/unit/test_feedback_doc_generator.py
  tests/unit/test_feedback_zip_packaging.py
Due: unit, integration, e2e

Add session state caching and guard logic to prevent re-grading on passive UI interactions (#61)
  PR_SUMMARY.md
  docs/grading_flow_diagram.md
  docs/grading_state_management.md
  src/cqc_cpcc/grading_run_key.py
  src/cqc_streamlit_app/initi_pages.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  tests/unit/test_grading_edge_cases.py
  tests/unit/test_grading_guard_logic.py
  tests/unit/test_grading_run_key.py
Due: unit, integration, e2e

Fix RGBColor formatting crash in feedback document generation (#62)
  src/cqc_cpcc/feedback_doc_generator.py
  tests/unit/test_backend_scoring.py
  tests/unit/test_feedback_doc_generator.py
Due: unit, integration, e2e

Fix cached grading display crash, async event loop conflicts, and add enhanced debugging (#68)
  DEBUGGING_ENHANCEMENTS.md
  FIX_SUMMARY.md
  src/cqc_cpcc/rubric_grading.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  tests/unit/test_async_wrapper.py
  tests/unit/test_cached_grading_display.py
  validate_fixes.py
Due: unit, integration, e2e

Fix rubric scoring mode, enhance debug logging, and add OpenAI fallback normalization (#69)
  FIX_RUBRIC_SCORING_SUMMARY.md
  src/cqc_cpcc/rubric_config.py
  src/cqc_cpcc/utilities/AI/openai_client.py
  src/cqc_cpcc/utilities/AI/openai_debug.py
  tests/unit/test_openai_fallback_normalization.py
  tests/unit/test_rubric_scoring_deterministic.py
Due: unit, integration, e2e

Updated rubrics with new class Changed run.sh for better menu
  PR_FINAL_SUMMARY.txt
  docs/CSC151_V2_IMPLEMENTATION.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/IMPLEMENTATION_SUMMARY_ZIP_BATCH_GRADING.md
  docs/SCORING_ENGINE_SUMMARY.md
  poetry.lock
  run.sh
  src/cqc_cpcc/my_colleges.py
  src/cqc_cpcc/rubric_config.py
  src/cqc_cpcc/utilities/selenium_util.py
Due: unit, integration, e2e

Fix Create Assignment button and add audio/video transcription with HTML file support (#78)
  src/cqc_cpcc/utilities/AI/openai_client.py
  src/cqc_cpcc/utilities/utils.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  tests/unit/test_openai_client.py
  tests/unit/test_rubric_grading.py
  tests/unit/test_utils.py
Due: unit, integration, e2e

intitial code for integration test for structured llm request
  scripts/README_RUN_RUBRIC_INTEGRATION.md
  scripts/run_integration_rubric_test.sh
  src/cqc_cpcc/rubric_grading.py
  src/cqc_cpcc/utilities/AI/structured_outputs.py
  tests/integration/test_rubric_grading_live_integration.py
  tests/unit/test_rubric_scoring.py
Due: unit, integration, e2e

Enforce structured outputs for rubric grading with 3-retry validation and fallback normalization (#79)
  src/cqc_cpcc/rubric_grading.py
  src/cqc_cpcc/utilities/AI/openai_client.py
  src/cqc_cpcc/utilities/AI/schema_normalizer.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  tests/integration/README_OPENAI_INTEGRATION.md
  tests/integration/test_openai_structured_output_integration.py
  tests/unit/test_openai_client.py
  tests/unit/test_openai_client_empty_response_retry.py
  tests/unit/test_openai_client_smart_retry.py
  tests/unit/test_rubric_grading.py
  tests/unit/test_rubric_grading_validation.py
Due: unit, integration, e2e

Add grading modes and errors-only exam flow
  src/cqc_cpcc/exam_review.py
  src/cqc_cpcc/grading_run_key.py
  src/cqc_streamlit_app/initi_pages.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
Due: unit, integration, e2e

Add grading modes and errors-only exam flow
  tests/unit/test_cached_grading_display.py
  tests/unit/test_grading_run_key.py
Due: none

Fix test suite for async e2e and zip grading
  src/cqc_cpcc/rubric_config.py
  src/cqc_cpcc/utilities/AI/openai_debug.py
  src/cqc_cpcc/utilities/zip_grading_utils.py
  src/cqc_streamlit_app/utils.py
  tests/e2e/conftest.py
  tests/e2e/test_smoke.py
  tests/integration/test_rubric_zip_batch_grading.py
  tests/unit/test_cached_grading_display.py
  tests/unit/test_zip_grading_utils.py
Due: unit, integration, e2e

Testing doc that may not be up to date
  docs/testing.md
Due: none

fixed date utility and added unit test. updated project files
  poetry.lock
  src/cqc_cpcc/utilities/date.py
  tests/unit/test_date.py
  tests/unit/test_date_utilities.py
Due: unit, integration, e2e

Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

Add CC0 1.0 Universal license
  LICENSE
Due: none

Add support for OpenRouter API key in grading functions
  src/cqc_streamlit_app/initi_pages.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
Due: e2e

added async catches
  poetry.lock
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  src/cqc_streamlit_app/utils.py
Due: e2e

Path conditions:
  unit: any of: src/cqc_cpcc/, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py
  integration: any of: src/cqc_cpcc/, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py
  e2e: any of: src/cqc_cpcc/, src/cqc_streamlit_app/, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py
