Repository gitchrisqueen/cpcc_task_automation: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e, Core Automation, AI/LLM, Rubric Grading, Exam & Project Grading, Feedback Generation, Utilities, Streamlit UI

Path conditions:
  unit: any of: src/cqc_cpcc/, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py
  integration: any of: src/cqc_cpcc/, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py
  e2e: any of: src/cqc_cpcc/, src/cqc_streamlit_app/, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py
  Core Automation: any of: src/cqc_cpcc/brightspace.py, src/cqc_cpcc/my_colleges.py, src/cqc_cpcc/attendance.py, src/cqc_cpcc/find_student.py, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py
  AI/LLM: any of: src/cqc_cpcc/utilities/AI/**, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py
  Rubric Grading: any of: src/cqc_cpcc/rubric_*.py, src/cqc_cpcc/scoring/**, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py
  Exam & Project Grading: any of: src/cqc_cpcc/exam_review.py, src/cqc_cpcc/project_feedback.py, src/cqc_cpcc/error_*.py, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py
  Feedback Generation: any of: src/cqc_cpcc/feedback_doc_generator.py, src/cqc_cpcc/student_feedback_builder.py, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py
  Utilities: any of: src/cqc_cpcc/utilities/utils.py, src/cqc_cpcc/utilities/date.py, src/cqc_cpcc/utilities/logger.py, src/cqc_cpcc/utilities/selenium_util.py, src/cqc_cpcc/utilities/pdf_utils.py, src/cqc_cpcc/utilities/zip_grading_utils.py, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py
  Streamlit UI: any of: src/cqc_streamlit_app/**, but not: tests/**/*, src/cqc_cpcc/utilities/AI/llm_deprecated/**/*, src/cqc_streamlit_app/pages/**/*, **/__pycache__/**, **/*.pyc, **/conftest.py

Create tmp.png (#198)
  images/tmp.png
Due: none

Add files via upload
  images/Christopher_Queen_CPCC_Profile_flipped.png
Due: none

chore(deps): update onnxruntime version range to avoid dependency conflicts
  poetry.lock
  pyproject.toml
Due: none

refactor(date): enhance datetime handling to support None values and improve date range checks
  poetry.lock
  src/cqc_cpcc/my_colleges.py
  src/cqc_cpcc/utilities/date.py
Due: unit, integration, e2e, Core Automation, Utilities

feat(docker): add Selenium Chrome Docker configuration and utility functions
  docker-compose.yml
  docs/DOCKER_CHROME_BEFORE_AFTER.md
  docs/docker-selenium-troubleshooting.md
  run.sh
  scripts/start_selenium_chrome_docker.sh
  src/cqc_cpcc/brightspace.py
  src/cqc_cpcc/my_colleges.py
  src/cqc_cpcc/rubric_grading.py
  src/cqc_cpcc/utilities/AI/openai_client.py
  src/cqc_cpcc/utilities/AI/openrouter_client.py
  src/cqc_cpcc/utilities/env_constants.py
  src/cqc_cpcc/utilities/file_url_utils.py
  src/cqc_cpcc/utilities/language_utils.py
  src/cqc_cpcc/utilities/selenium_util.py
  src/cqc_cpcc/utilities/utils.py
  src/cqc_cpcc/utilities/zip_grading_utils.py
  src/cqc_streamlit_app/utils.py
  tests/unit/test_my_colleges.py
  tests/unit/test_selenium_util.py
  tests/unit/test_streamlit_utils_zip_filename.py
  tests/unit/test_utils.py
Due: unit, integration, e2e, Core Automation, AI/LLM, Rubric Grading, Utilities, Streamlit UI

Added docker compose for attendance tracking
  docker-compose.yml
  src/cqc_cpcc/brightspace.py
  src/cqc_cpcc/main.py
  src/cqc_cpcc/utilities/selenium_util.py
  src/cqc_cpcc/utilities/utils.py
Due: unit, integration, e2e, Core Automation, Utilities
