Repository gitchrisqueen/cpcc_task_automation: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

codecov.yml:

# Codecov Configuration for CPCC Task Automation
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Global settings
codecov:
  # Require CI to pass before processing coverage
  require_ci_to_pass: yes
  
  # Use master branch as the source of truth for YAML config
  # This prevents rogue branches from changing coverage rules
  strict_yaml_branch: master

# Coverage analysis configuration
coverage:
  # Precision for coverage percentages (2 decimal places)
  precision: 2
  
  # Round coverage to nearest decimal
  round: down
  
  # Coverage range for color coding in UI
  range: "70...100"
  
  # Status checks configuration
  status:
    # PROJECT status: Track overall repository coverage
    # Set to INFORMATIONAL - won't block PRs but shows trend
    project:
      default:
        # Target: 80% overall project coverage
        target: 80%
        
        # Threshold: Allow up to 1% drop without failing
        # (Even though informational, this sets expectations)
        threshold: 1%
        
        # INFORMATIONAL MODE: This status will always pass
        # We want to see project coverage and drive it upward,
        # but not block PRs while repo is climbing from 49% â†’ 80%
        informational: true
        
        # Only evaluate on pull requests
        only_pulls: true
        
        # Paths to include in project coverage calculation
        paths:
          - "src/cqc_cpcc/"
    
    # PATCH status: Enforce coverage on NEW code in PRs
    # This is our PRIMARY enforcement gate
    patch:
      default:
        # Target: 80% coverage on all new/modified code
        target: 80%
        
        # Threshold: 0% - no drops allowed for new code
        # New code must meet the 80% bar
        threshold: 0%
        
        # Only evaluate on pull requests
        only_pulls: true
        
        # Fail if coverage upload is missing
        # This prevents bypassing the gate by not uploading coverage
        if_not_found: failure
        
        # Paths to include in patch coverage calculation
        paths:
          - "src/cqc_cpcc/"

# Comment configuration for PR feedback
comment:
  # Post coverage summary as PR comment
  layout: "condensed_header, condensed_files, condensed_footer"
  
  # Show both patch and project status in comment
  behavior: default
  
  # Require changes to post new comment
  require_changes: false

# Ignore patterns - exclude files from coverage analysis
# These match the patterns in pyproject.toml [tool.coverage.run] omit
ignore:
  - "tests/**/*"
  - "src/cqc_cpcc/utilities/AI/llm_deprecated/**/*"
  - "src/cqc_streamlit_app/pages/**/*"
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/conftest.py"

# Flag configuration for different test types
# We upload coverage separately for unit, integration, and e2e tests
flags:
  unit:
    # Coverage from unit tests
    paths:
      - "src/cqc_cpcc/"
    # Join with other flags if they exist
    carryforward: true
  
  integration:
    # Coverage from integration tests (backend only, no UI)
    paths:
      - "src/cqc_cpcc/"
    # Join with other flags
    carryforward: true
  
  e2e:
    # Coverage from end-to-end tests (includes Streamlit UI)
    # E2E tests exercise both backend and frontend code
    paths:
      - "src/cqc_cpcc/"
      - "src/cqc_streamlit_app/"
    # Join with other flags
    carryforward: true

Add OpenRouter integration and testing script for async API calls
  poetry.lock
  scripts/test_openrouter_lite.py
  src/cqc_cpcc/rubric_grading.py
  src/cqc_cpcc/utilities/AI/openrouter_client.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  src/cqc_streamlit_app/utils.py
Due: unit, integration, e2e

update
  poetry.lock
Due: none

Add support for OpenRouter API key in grading functions
  poetry.lock
  pyproject.toml
  tests/integration/test_openrouter_structured_output_integration.py
Due: none

Rename summary documents for clarity and consistency
  docs/CI_FIX_SUMMARY.md
  docs/CODE_OF_CONDUCT.md
  docs/DEBUGGING_ENHANCEMENTS.md
  docs/FIX_RUBRIC_SCORING_SUMMARY.md
  docs/FIX_SUMMARY.md
  docs/OPENROUTER_ALLOWED_MODELS_SUMMARY.md
  docs/OPENROUTER_IMPLEMENTATION_SUMMARY.md
  docs/OPENROUTER_INTEGRATION.md
  docs/OPENROUTER_UI_GUIDE.md
  docs/PROMPT_REFACTOR_SUMMARY.md
  docs/PR_SUMMARY.md
  validate_fixes.py
  verify_openrouter_integration.py
Due: none

Disable max report age in Codecov configuration
  codecov.yml
Due: none

Fix typo in rubric criterion name for clarity
  src/cqc_cpcc/config/rubrics.json
Due: unit, integration, e2e

Fix typos and improve clarity in rubric descriptions and titles
  src/cqc_cpcc/config/rubrics.json
Due: unit, integration, e2e

chore(deps): restrict onnxruntime version to <=1.23.2 for compatibility
  poetry.lock
  pyproject.toml
Due: none

fix(date): update date format to MM-DD-YYYY and enhance datepicker handling
  src/cqc_cpcc/brightspace.py
  src/cqc_cpcc/my_colleges.py
  src/cqc_cpcc/utilities/date.py
  tests/unit/test_date_utilities.py
Due: unit, integration, e2e

refactor(attendance): remove unused last_attendance_record_date assignment
  src/cqc_cpcc/my_colleges.py
Due: unit, integration, e2e

refactor(logging): replace print statements with logger calls for improved logging consistency
  src/cqc_cpcc/brightspace.py
  src/cqc_cpcc/main.py
  src/cqc_cpcc/my_colleges.py
  src/cqc_cpcc/project_feedback.py
  src/cqc_cpcc/utilities/AI/llm_deprecated/chains.py
  src/cqc_cpcc/utilities/logger.py
  src/cqc_cpcc/utilities/selenium_util.py
  src/cqc_cpcc/utilities/utils.py
  src/cqc_streamlit_app/pages/1_Take_Attendance.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  src/cqc_streamlit_app/utils.py
  tests/unit/test_logger.py
  tests/unit/test_main.py
  tests/unit/test_my_colleges.py
Due: unit, integration, e2e

feat(brightspace, my_colleges): implement short wait functionality for improved element retrieval
  src/cqc_cpcc/brightspace.py
  src/cqc_cpcc/my_colleges.py
  tests/unit/test_brightspace.py
  tests/unit/test_my_colleges.py
Due: unit, integration, e2e

feat(my_colleges): enhance attendance date handling with selectable dates and carry-forward logic
  src/cqc_cpcc/my_colleges.py
  tests/unit/test_my_colleges.py
Due: unit, integration, e2e

feat(rubrics): update CSC 151 and CSC 251 exam rubrics with new scoring criteria and weights
  src/cqc_cpcc/config/rubrics.json
Due: unit, integration, e2e

feat(rubrics): consolidate CSC exam rubrics and update scoring descriptions
  src/cqc_cpcc/config/rubrics.json
  src/cqc_cpcc/config/rubrics_v1_legacy.json
  src/cqc_cpcc/rubric_grading.py
Due: unit, integration, e2e

feat(scoring): update CSC151 performance level logic and scoring to 200-point scale
  src/cqc_cpcc/error_scoring.py
  tests/unit/test_backend_scoring.py
  tests/unit/test_csc151_scoring_fix.py
  tests/unit/test_csc151_v2_integration.py
  tests/unit/test_error_scoring.py
  tests/unit/test_rubric_config.py
  tests/unit/test_rubric_scoring_deterministic.py
Due: unit, integration, e2e

feat(rubrics): update CSC134 rubric to support decimal scoring and revise performance levels
  poetry.lock
  src/cqc_cpcc/config/rubrics.json
  src/cqc_cpcc/error_scoring.py
  src/cqc_cpcc/rubric_grading.py
  src/cqc_cpcc/rubric_models.py
  src/cqc_cpcc/scoring/rubric_scoring_engine.py
  tests/unit/test_backend_scoring.py
  tests/unit/test_error_scoring.py
  tests/unit/test_rubric_config.py
  tests/unit/test_rubric_models.py
Due: unit, integration, e2e

chore(deps): update onnxruntime version constraint to <=1.23.2
  poetry.lock
  pyproject.toml
Due: none

feat(microsoft-login): refactor login process and add XPath helpers for account selection
  src/cqc_cpcc/utilities/utils.py
  tests/unit/test_utils.py
Due: unit, integration, e2e

chore(deps): add pandas-stubs dependency with version constraint
  pyproject.toml
Due: none

refactor(grading): improve code wrapping and submission handling in grading utilities
  poetry.lock
  src/cqc_cpcc/rubric_grading.py
  src/cqc_cpcc/utilities/utils.py
  src/cqc_cpcc/utilities/zip_grading_utils.py
  src/cqc_streamlit_app/utils.py
Due: unit, integration, e2e

chore(deps): update openrouter and httpx version constraints
  poetry.lock
  pyproject.toml
Due: none

feat(errors): add new error definitions and improve environment variable handling
  src/cqc_cpcc/config/error_definitions_registry.json
  src/cqc_cpcc/config/rubric_error_definitions.json
  src/cqc_cpcc/utilities/env_constants.py
  src/cqc_streamlit_app/initi_pages.py
  src/cqc_streamlit_app/pages/6_Settings.py
  tests/unit/test_env_constants.py
Due: unit, integration, e2e

feat(rubrics): add C++ program performance rubric with detailed scoring criteria
  src/cqc_cpcc/config/rubrics.json
Due: unit, integration, e2e

feat(errors): add new error definitions for CSC 251 Exam 2 with detailed descriptions and severity levels
  src/cqc_cpcc/config/error_definitions_registry.json
  src/cqc_cpcc/config/rubric_error_definitions.json
Due: unit, integration, e2e

feat(api): enhance OpenAI and OpenRouter client handling with improved API key management and error normalization for scoring
  src/cqc_cpcc/rubric_grading.py
  src/cqc_cpcc/utilities/AI/openai_client.py
  src/cqc_cpcc/utilities/AI/openrouter_client.py
  src/cqc_streamlit_app/initi_pages.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  src/cqc_streamlit_app/pages/6_Settings.py
  tests/unit/test_exam_grading_openai.py
  tests/unit/test_rubric_grading.py
Due: unit, integration, e2e

fix(rubric): remove total occurrences note from error notes for clarity and debugging
  src/cqc_cpcc/rubric_grading.py
Due: unit, integration, e2e

feat(course_ids): normalize course identifiers to canonical format and update related error definitions
  src/cqc_cpcc/config/error_definitions_registry.json
  src/cqc_cpcc/config/rubrics.json
  src/cqc_cpcc/course_identifier.py
  src/cqc_cpcc/error_definitions_config.py
  src/cqc_cpcc/error_definitions_models.py
  src/cqc_cpcc/rubric_config.py
  src/cqc_cpcc/rubric_grading.py
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  tests/integration/test_error_definitions_integration.py
  tests/integration/test_rubric_integration.py
  tests/unit/test_ai_reflection_rubric.py
  tests/unit/test_cached_grading_display.py
  tests/unit/test_course_identifier.py
  tests/unit/test_error_definitions_config.py
  tests/unit/test_error_definitions_models.py
  tests/unit/test_rubric_config.py
Due: unit, integration, e2e

feat(course_id): enhance course ID extraction to support canonical and legacy formats with section handling
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  tests/unit/test_cached_grading_display.py
Due: none

feat(grading): add export functionality for grading summary to Excel and CSV formats, enhance ZIP file generation with summary inclusion
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  src/cqc_streamlit_app/utils.py
Due: e2e

refactor: clean up whitespace and improve code formatting across multiple files
  src/cqc_streamlit_app/chatgpt_status_callback_handler.py
Due: e2e

feat(zip-filename): enhance ZIP filename generation to remove redundant course prefix and improve sanitization
  src/cqc_streamlit_app/pages/4_Grade_Assignment.py
  src/cqc_streamlit_app/utils.py
  tests/unit/test_streamlit_utils_zip_filename.py
Due: e2e

feat(date-range): adjust date_range_end logic to set based on course_end_date or default to today - 2 days
  src/cqc_cpcc/brightspace.py
Due: unit, integration, e2e

refactor(course-information): update course information structure to use course URL as key and improve variable naming
  src/cqc_cpcc/my_colleges.py
Due: unit, integration, e2e

Create tmp.png
  images/tmp.png
Due: none
